{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1 class="text-center">Keyword volume Checker Tool</h1><br><br>

    <br><br>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="/keyword-volume/" method="post">
                <input class="form-control" type="text" placeholder="Enter Keyword" aria-label="default input example"
                       name="keyword">
                <br>
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-primary">
                    <br><br>
                </div>
            </form>
        </div>
        <div class="col"></div>

        <br>

    </div>
    <div class="row">

        <div class="col">
            {% if keyword_info %}

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3>Keyword Overview: {{ keyword_info['keyword'] }}</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="info-box">
                                <h5>Total Volume</h5>
                                <div class="value">{{ keyword_info['volume'] }}</div>
                          
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="info-box">
                                <h5>SEO Difficulty</h5>
                                <div class="value">{{ keyword_info['competition'] }}</div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="info-box">
                                <h5>Paid Difficulty</h5>
                                <div class="value">{{ keyword_info['paid_difficulty'] }}</div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="info-box">
                                <h5>Cost Per Click (CPC)</h5>
                                <div class="value">{{ keyword_info['cpcDollars'] }}</div>
                                <div class="label">DOLLARS</div>
                            </div>
                        </div>
                    </div>
       
            {% else %}
            <div class="alert alert-warning" role="alert">
                No keyword information available.
            </div>
            {% endif %}            
   
        
    </div>
    </div>

</div>
{% endblock %}

